.cards-container {
  display: flex;
  gap: 20px;
  max-width: 65rem;
  margin: 0 auto;
}

.topic {
  padding: 3rem;
  text-align: center;
}

.topicText {
  font-weight: bolder;
  font-size: 48px;
  padding: 3rem 0;
}

.icon > svg {
  color: #ffffff;
  border-radius: 50%;
  font-size: 80px;
  background: #ff783a;
  padding: 20px;
}

.card {
  padding: 2rem;
  background: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.description {
  font-size: x-small;
  color: rgb(46, 46, 46);
  font-weight: thin;
}

@media (max-width: 768px) {
  .cards-container {
    display: block;
  }
}
