.container {
  background: rgba(52, 60, 84, 255);
  padding: 2rem;
  width: 50%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: white;
}
.description {
  font-size: small;
  color: rgb(218, 218, 218);
  font-weight: thin;
}

.label {
  color: white;
}

.formInputPrices {
  padding: 16px;

  display: grid;
  row-gap: 15px;
  column-gap: 1rem;
  grid-template-columns: auto auto;
}

.inputElement {
  display: flex;
  flex-direction: column;
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #ff783a;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #ff783a;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ff783a;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #ff783a;
  outline-offset: 0.125rem;
}

.formInputPrices,
.results {
  font-size: x-small;
  color: white;
}

.priceText {
  background: none;
  font-weight: bolder;
  font-size: x-large;
  color: #ff783a;
}

.textBlockTitle {
  font-size: 48px;
}

.textBlockDescription {
  font-size: small;
  font-weight: thin;
}

.loan,
.repayment {
  font-size: large;
}

@media (max-width: 768px) {
  .priceText {
    font-size: 16px;
  }
  .textBlockTitle,
  .title {
    font-size: 20px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .formInputPrices {
    display: block;
  }
  .description,
  .textBlockDescription {
    font-size: x-small;
  }
}
